h1 {
    text-align: center;
    margin-top: 100px;
}
footer {
    text-align: center;
    font-size: 22px;
}
image {
    width: 80px;
    height: 40px;
}
.card {
    border: 1px solid black;
    background-color: beige;
    border-radius: 10px;
    text-align: center;
}
.card h2 {
    margin: 0.3rem 0;
    color: #3a5250;
}
.card #description {
    text-transform: capitalize;
    color: #3a5250;
}
.card #current-temp {
    font-size: 2rem;
    color: #537279;
    margin: .3rem 0;
}